a.active {
  text-decoration: underline !important;
  /* font-weight: bold; */
  font-size: 1em;
  padding: 0.5em;
  color: rgba(0, 0, 0, 0.55);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
a {
  color: black !important;
  text-decoration: none !important;
  padding: 0.5em;
}
